@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.weeklyScore tr:nth-of-type(5) td {
  border-bottom: 3px solid rgb(0, 255, 64);
}

@media screen and (max-width: 620px) {
  .report-nav,
  .report-doc {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .report-view,
  .scoreboard-container {
    flex-direction: column;
    align-items: center;
  }
}

button:focus {
  outline: none;
  box-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.scoreboard-container {
  display: flex;
  justify-content: space-evenly;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.dark-container {
  background-color: #30404d;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.report-view {
  display: flex;
  justify-content: center;
  margin: 0 30px;
}

.report-nav {
  margin: 15px;
  max-width: 200px;
}

.report-doc {
  font-size: large;
  margin: 0 15px;
  flex: 1;
}

.tabs-container {
  margin: 0 0 40px 0;
}

.tab-item {
  outline: none;
  box-shadow: none;
}
